.BurgerContols {
width: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: rgb(236 188 34);
}.BurgerContolsInner {
  width: 300px;
  margin: 0 auto;
  padding-bottom:15px;
}.Controls {
  display: block;
  padding: 5px 10px;
  margin: 5px 0px;
}.ButtonMore {
  background: rgb(8, 148, 27);
  color : white;
  padding: 5px 15px;
  cursor: pointer;
}.ButtonLess {
  background: rgb(0, 0, 0);
  color : white;
  padding: 5px 15px;
  cursor: pointer;
}.Ctrl{
font-size: 1.3em ;
text-transform: capitalize;
float: left;
width: 100px;
text-align: left;
line-height: 40.07px;
}.ButtonSide{
 text-align: right;
}
button:disabled {
    background: #545454;
    color: #868686;
}@media only screen and (max-width: 500px) { 
.Burger {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
}.BurgerContols .BurgerContolsInner {
    width: 250px;
    
    padding: 0px !important;
}.Ctrl{
font-size: 1.3em ;
text-transform: capitalize;
float: left;
width: 50px;
text-align: left;
line-height: 40.07px;
}
}

